# Database
PGUSER=spring
PGPASSWORD=spring
PGDATABASE=spring
DB_PORT=5433
DATABASE_URL=postgres://spring:spring@localhost:5433/spring

# Server
PORT=3001
NODE_ENV=development
APP_BASE_URL=http://localhost:3001

# Auth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_ALLOWED_HD=nitkkr.ac.in
SESSION_COOKIE_NAME=spring_session
BETTER_AUTH_SECRET=

# Frontend
FRONTEND_URL=http://localhost:5173
ALLOWED_ORIGIN=http://localhost:5173

# exec0
ENGINE_URL=http://localhost:8080
